/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

:root{
    --spacing1: 4px;
    --spacing2: 8px;
    --spacing3: 16px;
    --spacing4: 20px;
    --spacing5: 40px;
    --spacing6: 80px;
    --spacing7: 160px;
    --maincolor: rgb(67, 148, 215);
}

/* UTILITY CLASSES */

body{
    overflow-x: clip;
}

section {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  color: white;
  justify-items: center;
}


h1{
    margin: var(--spacing3) 0;
}

h2{
    margin: var(--spacing3) 0;
}

h3{
    margin: var(--spacing2) 0;
}

.number{
    width: fit-content;
    font-weight: 500;
    font-size: 2rem;
    -webkit-mask-image: linear-gradient(to left, black, transparent);
    mask-image: linear-gradient(to left, black, transparent);
}



